.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 560px;
}

.img {
  width: 100%;
  height: 323px;
  object-fit: cover;
  border-radius: var(--common-border-radius);
}

.figure {
  margin: 0;
}

.figcaption {
  text-align: left;
  max-width: 348px;
}
