.form {
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
}

.policy_box {
  display: flex;
  align-items: flex-start;
  height: 95px;
}

.checkbox {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.policy {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.btn {
  align-self: center;
}
