.content {
  display: flex;
  align-items: center;
  background-color: var(--colors-interface-form);
  border-radius: var(--common-border-radius);
}

.img {
  width: 165px;
  height: 158px;
  border-radius: var(--common-border-radius);
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.nameBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.description {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.delBtn {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.delImg {
  width: 32px;
  height: 32px;
}

.name {
  text-align: left;
}

.cost {
  min-width: 100px;
  text-align: right;
}
